body {
  background-color: #ffd823 !important;
  line-height: 1.2 !important;
}

h1 {
  padding: 0.5rem .5rem 0 .5rem;
}

h1:hover {
  color: red;
}

.App {
  padding-top: 3rem;
  min-height: 100vh;
  text-align: center;
}

.title {
  font-size: 5rem;
  color: red;
  font-weight: bold;
  letter-spacing: .2rem;
}

.subtitle {
  font-size: 1.28rem;
  font-weight: 700;
  color: black;
}

.capitalize {
  text-transform: capitalize;
}

.row {
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.model {
  text-transform: capitalize;
}

.card {
  margin-top: 1.5rem;
  width: 15.6rem;
}

.evoChainCard {
  padding-bottom: .6rem;
}

.btn-space {
  margin-top: 1.50rem;
  margin-left: 1.25rem;
}

.btn a {
  color: white;
  font-weight: 700;
  text-decoration: none !important;
}
